.contact-form .form-field {
  position: relative;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text:not([value=""]) + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  cursor: text;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

.form-content .form-items {
  border: 3px solid #000;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #000;
  text-align: left;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #000;
  text-align: left;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

.form-content input[type="text"],
.form-content input[type="number"]
.form-content select
 {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8d8d8d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}

@media screen and (max-width: 995px) {
  .contact-form .submit-btn {
    width: 50%;
  }
  .contact-form .input-text {
    margin-top: 25px;
  }
}

.pagination a {
  text-decoration: none;
  border-radius: 15px;
}
